[submodule "ARIEL/modules/CommunicationManager"]
	path = ARIEL/modules/CommunicationManager
	url = https://github.com/TCC-PES-2022/CommunicationManager.git
	branch = main
[submodule "ARIEL/modules/ImageManager"]
	path = ARIEL/modules/ImageManager
	url = https://github.com/TCC-PES-2022/ImageManager.git
	branch = main
[submodule "ARIEL/modules/LogManager"]
	path = ARIEL/modules/LogManager
	url = https://github.com/TCC-PES-2022/LogManager.git
	branch = main
