[submodule "modules/CommunicationManager"]
	path = modules/CommunicationManager
	url = https://github.com/TCC-PES-2022/CommunicationManager.git
	branch = main
[submodule "modules/ImageManager"]
	path = modules/ImageManager
	url = https://github.com/TCC-PES-2022/ImageManager.git
	branch = main
[submodule "modules/LogManager"]
	path = modules/LogManager
	url = https://github.com/TCC-PES-2022/LogManager
	branch = main
[submodule "modules/authentication"]
	path = modules/authentication
	url = https://github.com/TCC-PES-2022/authentication.git
[submodule "modules/UI_API"]
	path = modules/UI_API
	url = https://github.com/TCC-PES-2022/UI_API.git
